html {
    height: 100%;
    width: 100%;
  }
  
  html {
    background: greenyellow
  }
  
  h1, h2, h3, p {
    text-align: center;
  }
  
  img {
    border-radius: 25px;
    border-style: solid;
    height: 300px;
  }
  